<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/changePassword.css">
    <script defer src="scripts/changePass.js"></script>
    <title>Change Password</title>
</head>
<body>
    <div class="cointainer">
        <%- include('partials/header'),{user} %>
        <div class="changePasswordCointainer">
            <span class="info"><%=info%></span>
            <div class="instruction">
               <p>The password has to be</p> 
                <ul>
                    <li>One Uppercase letter at least</li>
                    <li>One lowercase letter at least</li>
                    <li>One Number at least</li>
                </ul>
            </div>
            <div class="divForm">
                <form id="changePasswordx" class="form" method="POST" action="/changepassword" >
                    <div class="alignLabelAndInp">
                        <div class="labelSvg">
                            <label for="password">Password</label>
                            <button id="btnShowHide">
                                <img src="styles/eyeOpen.svg" alt="">
                            </button>
                        </div>
                        
                        <input spellcheck="false" id="pass" class="input" autocomplete="new-password" autocomplete="false" type="password" name="password" >
                    </div>
                    <div class="alignLabelAndInp">
                        <label for="password">Confirm Password</label>
                        <input id="inpPassC" class="input" autocomplete="new-password" type="password" name="cPassword" >
                    </div>
                    <input type="submit" value="change Password" class="submitBtn">
                </form>
            </div>
        </div>
    </div>
</body>
</html>