<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/form.css">
    <title>login</title>
</head>
<body>
    <div class="container">
        <h3 class="headingFp">Reset password</h3>
        <p class="instructionP">Todo <span id="brand">“By Ashish Kumar”</span></p>
        <div class="labelInput">  
            <input type="text" name="email" id="email" placeholder="email">
        </div>
        <div class="labelInput">  
            <input type="password" name="secret" id="secret" placeholder="secret key">
        </div>
        <button id="sendBtnEmail">Reset password</button>
        <div class="linkDiv link-fpDiv">
            <a class="link" href="/signin">Sign in</a>
        </div>
    </div>
</body>
</html>