*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.changePasswordCointainer{
    margin: 0 1rem;
    padding: 0.4rem;
    border-bottom:1px solid rgba(214, 211, 211, 0.966);
    border-left: 1px solid rgba(214, 211, 211, 0.966);
    border-right: 1px solid rgba(214, 211, 211, 0.966);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80vh;
}

.instruction{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-size: 1.2rem;
}
.divForm{
    padding: 2rem;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.input{
  width: 20rem;
  height: 2.6rem;
  margin-top: 0.4rem;
  margin-bottom: 2rem;
  border: none;
  border-bottom: 2px solid gray;
  font-size: 1.4rem;
  padding-left: 0.6rem;
  outline: none;
  padding-bottom: .05rem;
}
@media (max-width:800px)
{
    .changePasswordCointainer{
        flex-direction: column;
        padding: 1rem;
    }
    .input{
        width: 15rem;
    }
}
.input:focus-within{
    border-bottom:2px solid blue ;
}
.alignLabelAndInp{
    display: flex;
    flex-direction: column;
}
.submitBtn{
 height: 2rem;
 width: 10rem;
 font-size: 1rem;
 background-color: rgba(8, 112, 182, 0.897);  
 outline: none;
 border: none; 
 color: white;
}
.submitBtn:hover{
    background-color: rgba(255, 0, 0, 0.897);
    
}
.labelSvg{
    display:flex;
    justify-content: space-between;
}
label{
    color: #333;
    font-weight: 600;
}
svg{
    pointer-events: none;
}
img{
    pointer-events: none;
}
